In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import *

# Spam dataset was used for crime detection.

In [2]:
df = pd.read_csv(r"C:\Users\HP\OneDrive\Documents\isro\spam.csv",encoding='latin1')
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [3]:
df.describe()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
count,5572,5572,50,12,6
unique,2,5169,43,10,5
top,ham,"Sorry, I'll call later","bt not his girlfrnd... G o o d n i g h t . . .@""","MK17 92H. 450Ppw 16""","GNT:-)"""
freq,4825,30,3,2,2

In [4]:
df.columns

Index(['v1', 'v2', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [5]:
df.drop([ 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'],axis=1,inplace=True)

In [6]:
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [7]:
df['v1_nm']=df.v1.map({'ham':0,'spam':1})

In [8]:
df.head()

     v1                                                 v2  v1_nm
0   ham  Go until jurong point, crazy.. Available only ...      0
1   ham                      Ok lar... Joking wif u oni...      0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...      1
3   ham  U dun say so early hor... U c already then say...      0
4   ham  Nah I don't think he goes to usf, he lives aro...      0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   v1      5572 non-null   object
 1   v2      5572 non-null   object
 2   v1_nm   5572 non-null   int64
dtypes: int64(1), object(2)
memory usage: 130.7+ KB

In [10]:

attack_keywords = ["gun", "kill", "assassin", "murder", "attack", "assault", "violence"]
def classify_text(text):
    for keyword in attack_keywords:
        if keyword.lower() in text.lower() or keyword.upper() in text.upper():
            return "Attack"
    return "Quality"  
df['class'] = df['v2'].apply(classify_text)


print(df.head())

     v1                                                 v2  v1_nm    class
0   ham  Go until jurong point, crazy.. Available only ...      0  Quality
1   ham                      Ok lar... Joking wif u oni...      0  Quality
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...      1  Quality
3   ham  U dun say so early hor... U c already then say...      0  Quality
4   ham  Nah I don't think he goes to usf, he lives aro...      0  Quality

In [11]:
attack_texts = df[df['class'] == 'Attack']['v2']

for text in attack_texts:
    print(text)

Your gonna have to pick up a $1 burger for yourself on your way home. I can't even move. Pain is killing me.
Wife.how she knew the time of murder exactly
I sent my scores to sophas and i had to do secondary application for a few schools. I think if you are thinking of applying, do a research on cost also. Contact joke ogunrinde, her school is one me the less expensive ones
SMS. ac JSco: Energy is high, but u may not know where 2channel it. 2day ur leadership skills r strong. Psychic? Reply ANS w/question. End? Reply END JSCO
U can WIN å£100 of Music Gift Vouchers every week starting NOW Txt the word DRAW to 87066 TsCs www.ldew.com SkillGame,1Winaweek, age16.150ppermessSubscription
U can WIN å£100 of Music Gift Vouchers every week starting NOW Txt the word DRAW to 87066 TsCs www.Idew.com SkillGame, 1Winaweek, age16. 150ppermessSubscription
Hey cutie. How goes it? Here in WALES its kinda ok. There is like hills and shit but i still avent killed myself.
Haha, my legs and neck are killing me and my amigos are hoping to end the night with a burn, think I could swing by in like an hour?
I don't run away frm u... I walk slowly &amp; it kills me that u don't care enough to stop me...
Solve d Case : A Man Was Found Murdered On  &lt;DECIMAL&gt; . &lt;#&gt;  AfterNoon. 1,His wife called Police. 2,Police questioned everyone. 3,Wife: Sir,I was sleeping, when the murder took place. 4.Cook: I was cooking. 5.Gardener: I was picking vegetables. 6.House-Maid: I went 2 d post office. 7.Children: We went 2 play. 8.Neighbour: We went 2 a marriage. Police arrested d murderer Immediately. Who's It? Reply With Reason, If U r Brilliant.
What's happening with you. Have you gotten a job and have you begun registration for permanent residency
She is our sister.. She belongs 2 our family.. She is d hope of tomorrow.. Pray 4 her,who was fated 4 d Shoranur train incident. Lets hold our hands together &amp; fuelled by love &amp; concern prior 2 her grief &amp; pain. Pls join in dis chain &amp; pass it. STOP VIOLENCE AGAINST WOMEN.
Solve d Case : A Man Was Found Murdered On  &lt;DECIMAL&gt; . &lt;#&gt;  AfterNoon. 1,His wife called Police. 2,Police questioned everyone. 3,Wife: Sir,I was sleeping, when the murder took place. 4.Cook: I was cooking. 5.Gardener: I was picking vegetables. 6.House-Maid: I went 2 d post office. 7.Children: We went 2 play. 8.Neighbour: We went 2 a marriage. Police arrested d murderer Immediately. Who's It? Reply With Reason, If U r Brilliant.
House-Maid is the murderer, coz the man was murdered on  &lt;#&gt; th January.. As public holiday all govt.instituitions are closed,including post office..understand?
House-Maid is the murderer, coz the man was murdered on  &lt;#&gt; th January.. As public holiday all govt.instituitions are closed,including post office..
Wife.how she knew the time of murder exactly
House-Maid is the murderer, coz the man was murdered on  &lt;#&gt; th January.. As public holiday all govt.instituitions are closed,including post office..understand?
Wife.how she knew the time of murder exactly
Solve d Case : A Man Was Found Murdered On  &lt;DECIMAL&gt; . &lt;#&gt;  AfterNoon. 1,His wife called Police. 2,Police questioned everyone. 3,Wife: Sir,I was sleeping, when the murder took place. 4.Cook: I was cooking. 5.Gardener: I was picking vegetables. 6.House-Maid: I went 2 d post office. 7.Children: We went 2 play. 8.Neighbour: We went 2 a marriage. Police arrested d murderer Immediately. Who's It? Reply With Reason, If U r Brilliant.
I don't run away frm u... I walk slowly &amp; it kills me that u don't care enough to stop me...
I just saw ron burgundy captaining a party boat so yeah
We know TAJ MAHAL as symbol of love. But the other lesser known facts 1. Mumtaz was Shahjahan's 4th wife, out of his 7 wifes. 2. Shahjahan killed Mumtaz's husband to marry her. 3. Mumtaz died in her  &lt;#&gt; th delivery. 4. He then married Mumtaz's sister. Question arises where the Hell is the LOVE?:-| -The Great Hari-
\The world suffers a lot... Not because of the violence of bad people. But because of the silence of good people!\"
U can WIN å£100 of Music Gift Vouchers every week starting NOW Txt the word DRAW to 87066 TsCs www.Idew.com SkillGame, 1Winaweek, age16. 150ppermessSubscription
Kind of. Just missed train cos of asthma attack, nxt one in half hr so driving in. not sure where to park.
House-Maid is the murderer, coz the man was murdered on  &lt;#&gt; th January.. As public holiday all govt.instituitions are closed,including post office..understand?
Nt only for driving even for many reasons she is called BBD..thts it chikku, then hw abt dvg cold..heard tht vinobanagar violence hw is the condition..and hw ru ? Any problem?
Don't worry though, I understand how important it is that I be put in my place with a poorly thought out punishment in the face of the worst thing that has ever happened to me. Brb gonna go kill myself

In [12]:
df['class'] = df['class'].map({'Quality': 0, 'Attack': 1})

# Replacing emojis with text

In [13]:
!pip install emoji

import emoji
def replace_emojis_with_text(text):
    return emoji.demojize(text)

df['v2'] = df['v2'].apply(replace_emojis_with_text)

print(df.head())

Requirement already satisfied: emoji in c:\users\hp\anaconda3\lib\site-packages (2.10.1)
     v1                                                 v2  v1_nm  class
0   ham  Go until jurong point, crazy.. Available only ...      0      0
1   ham                      Ok lar... Joking wif u oni...      0      0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...      1      0
3   ham  U dun say so early hor... U c already then say...      0      0
4   ham  Nah I don't think he goes to usf, he lives aro...      0      0

# REPLACING URL

In [14]:
import re

def replace_urls_with_url(text):
    # Regular expression pattern to match URLs
    url_pattern = r'http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\\(\\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+'
    # Replace URLs with "URL"
    return re.sub(url_pattern, "URL", text)
df['v2'] = df['v2'].apply(replace_urls_with_url)

print(df.head())

     v1                                                 v2  v1_nm  class
0   ham  Go until jurong point, crazy.. Available only ...      0      0
1   ham                      Ok lar... Joking wif u oni...      0      0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...      1      0
3   ham  U dun say so early hor... U c already then say...      0      0
4   ham  Nah I don't think he goes to usf, he lives aro...      0      0

# REMOVING PUNCTUATIONS

In [15]:
def remove_punctuations(text):
    # Define regular expression pattern to match punctuations
    punctuation_pattern = r'[^\w\s]'  # Matches any character that is not a word character or whitespace
    # Remove punctuations using regex
    return re.sub(punctuation_pattern, '', text)


df['v2'] = df['v2'].apply(remove_punctuations)
print(df.head())

     v1                                                 v2  v1_nm  class
0   ham  Go until jurong point crazy Available only in ...      0      0
1   ham                            Ok lar Joking wif u oni      0      0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...      1      0
3   ham        U dun say so early hor U c already then say      0      0
4   ham  Nah I dont think he goes to usf he lives aroun...      0      0

# TOKENIZATION

In [16]:
import pandas as pd
import nltk
nltk.download('punkt') 

def tokenize_text(text):
    tokens = nltk.word_tokenize(text)
    tokens = [token.lower() for token in tokens]
    return tokens


df['tokens'] = df['v2'].apply(tokenize_text)

print(df.head())

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

     v1                                                 v2  v1_nm  class  \
0   ham  Go until jurong point crazy Available only in ...      0      0
1   ham                            Ok lar Joking wif u oni      0      0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...      1      0
3   ham        U dun say so early hor U c already then say      0      0
4   ham  Nah I dont think he goes to usf he lives aroun...      0      0

                                              tokens
0  [go, until, jurong, point, crazy, available, o...
1                     [ok, lar, joking, wif, u, oni]
2  [free, entry, in, 2, a, wkly, comp, to, win, f...
3  [u, dun, say, so, early, hor, u, c, already, t...
4  [nah, i, dont, think, he, goes, to, usf, he, l...

# REMOVING STOP WORDS

In [17]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

stop_words = set(stopwords.words('english'))

def rm_stop_words(tokens):
    filtered_tokens = [token for token in tokens if token.lower() not in stop_words]
    filtered_text = ' '.join(filtered_tokens)
    return filtered_tokens
df['tokens'] = df['tokens'].apply(rm_stop_words)
print(df.head())

     v1                                                 v2  v1_nm  class  \
0   ham  Go until jurong point crazy Available only in ...      0      0
1   ham                            Ok lar Joking wif u oni      0      0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...      1      0
3   ham        U dun say so early hor U c already then say      0      0
4   ham  Nah I dont think he goes to usf he lives aroun...      0      0

                                              tokens
0  [go, jurong, point, crazy, available, bugis, n...
1                     [ok, lar, joking, wif, u, oni]
2  [free, entry, 2, wkly, comp, win, fa, cup, fin...
3      [u, dun, say, early, hor, u, c, already, say]
4  [nah, dont, think, goes, usf, lives, around, t...

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

# STEMMING

In [18]:

from nltk.stem import PorterStemmer
nltk.download('punkt') 
def stem_tokens(tokens):
    stemmer = PorterStemmer()
    stemmed_tokens = [stemmer.stem(token) for token in tokens]
    return stemmed_tokens
df['tokens'] = df['tokens'].apply(stem_tokens)
print(df.head())

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

     v1                                                 v2  v1_nm  class  \
0   ham  Go until jurong point crazy Available only in ...      0      0
1   ham                            Ok lar Joking wif u oni      0      0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...      1      0
3   ham        U dun say so early hor U c already then say      0      0
4   ham  Nah I dont think he goes to usf he lives aroun...      0      0

                                              tokens
0  [go, jurong, point, crazi, avail, bugi, n, gre...
1                       [ok, lar, joke, wif, u, oni]
2  [free, entri, 2, wkli, comp, win, fa, cup, fin...
3      [u, dun, say, earli, hor, u, c, alreadi, say]
4  [nah, dont, think, goe, usf, live, around, tho...

# LEMMENIZATION

In [19]:
from nltk.stem import WordNetLemmatizer
nltk.download('punkt') 
nltk.download('wordnet')
def lemmatize_tokens(tokens):
    lemmatizer = WordNetLemmatizer()
    lemmatized_tokens = [lemmatizer.lemmatize(token) for token in tokens]
    return lemmatized_tokens
df['tokens'] = df['tokens'].apply(lemmatize_tokens)
print(df.head())

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

     v1                                                 v2  v1_nm  class  \
0   ham  Go until jurong point crazy Available only in ...      0      0
1   ham                            Ok lar Joking wif u oni      0      0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...      1      0
3   ham        U dun say so early hor U c already then say      0      0
4   ham  Nah I dont think he goes to usf he lives aroun...      0      0

                                              tokens
0  [go, jurong, point, crazi, avail, bugi, n, gre...
1                       [ok, lar, joke, wif, u, oni]
2  [free, entri, 2, wkli, comp, win, fa, cup, fin...
3      [u, dun, say, earli, hor, u, c, alreadi, say]
4  [nah, dont, think, goe, usf, live, around, tho...

# CONVERTING WORD TO SENTENCE

In [20]:
def words_to_sentence(word_list):
    return ' '.join(word_list)
df['sentence'] = df['tokens'].apply(words_to_sentence)
print(df.head())

     v1                                                 v2  v1_nm  class  \
0   ham  Go until jurong point crazy Available only in ...      0      0
1   ham                            Ok lar Joking wif u oni      0      0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...      1      0
3   ham        U dun say so early hor U c already then say      0      0
4   ham  Nah I dont think he goes to usf he lives aroun...      0      0

                                              tokens  \
0  [go, jurong, point, crazi, avail, bugi, n, gre...
1                       [ok, lar, joke, wif, u, oni]
2  [free, entri, 2, wkli, comp, win, fa, cup, fin...
3      [u, dun, say, earli, hor, u, c, alreadi, say]
4  [nah, dont, think, goe, usf, live, around, tho...

                                            sentence
0  go jurong point crazi avail bugi n great world...
1                              ok lar joke wif u oni
2  free entri 2 wkli comp win fa cup final tkt 21...
3                u dun say earli hor u c alreadi say
4          nah dont think goe usf live around though

# TF-IDF VECTORIZATION

In [21]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vectorizer = TfidfVectorizer()
tfidf_matrix = tfidf_vectorizer.fit_transform(df['sentence'])
t_df = pd.DataFrame(tfidf_matrix.toarray(), columns=tfidf_vectorizer.get_feature_names_out())
print(t_df.head())

   008704050406  0089mi  0121  01223585236  01223585334  0125698789   02  \
0           0.0     0.0   0.0          0.0          0.0         0.0  0.0
1           0.0     0.0   0.0          0.0          0.0         0.0  0.0
2           0.0     0.0   0.0          0.0          0.0         0.0  0.0
3           0.0     0.0   0.0          0.0          0.0         0.0  0.0
4           0.0     0.0   0.0          0.0          0.0         0.0  0.0

   020603  0207  02070836089  ...   ì_  ì_ll  ìcopyright   ìï  ìïll   û_  \
0     0.0   0.0          0.0  ...  0.0   0.0         0.0  0.0   0.0  0.0
1     0.0   0.0          0.0  ...  0.0   0.0         0.0  0.0   0.0  0.0
2     0.0   0.0          0.0  ...  0.0   0.0         0.0  0.0   0.0  0.0
3     0.0   0.0          0.0  ...  0.0   0.0         0.0  0.0   0.0  0.0
4     0.0   0.0          0.0  ...  0.0   0.0         0.0  0.0   0.0  0.0

   û_thank   ûï  ûïharri   ûò
0      0.0  0.0      0.0  0.0
1      0.0  0.0      0.0  0.0
2      0.0  0.0      0.0  0.0
3      0.0  0.0      0.0  0.0
4      0.0  0.0      0.0  0.0

[5 rows x 8032 columns]

In [22]:
t_df['class'] = df['class']

In [23]:
print(t_df.columns)

Index(['008704050406', '0089mi', '0121', '01223585236', '01223585334',
       '0125698789', '02', '020603', '0207', '02070836089',
       ...
       'ì_', 'ì_ll', 'ìcopyright', 'ìï', 'ìïll', 'û_', 'û_thank', 'ûï',
       'ûïharri', 'ûò'],
      dtype='object', length=8032)

In [24]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score

X_train, X_test, y_train, y_test = train_test_split(t_df, df['class'], test_size=0.3, random_state=42)


svm_classifier = SVC()
knn_classifier = KNeighborsClassifier()
naive_bayes_classifier = MultinomialNB()

svm_classifier.fit(X_train, y_train)
knn_classifier.fit(X_train, y_train)
naive_bayes_classifier.fit(X_train, y_train)

svm_predictions = svm_classifier.predict(X_test)
knn_predictions = knn_classifier.predict(X_test)
naive_bayes_predictions = naive_bayes_classifier.predict(X_test)


svm_accuracy = accuracy_score(y_test, svm_predictions)
knn_accuracy = accuracy_score(y_test, knn_predictions)
naive_bayes_accuracy = accuracy_score(y_test, naive_bayes_predictions)

print("SVM Accuracy:", svm_accuracy)
print("KNN Accuracy:", knn_accuracy)
print("Naive Bayes Accuracy:", naive_bayes_accuracy)

SVM Accuracy: 1.0
KNN Accuracy: 1.0
Naive Bayes Accuracy: 0.9946172248803827